.search_bar{
  display: block;
  margin-bottom: 15px;
}

.Header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-Side {
background-color: blue;
width: 150px;
}

.middle-section {
  background-color: aqua;
  flex:1;
 max-width:500px;
  margin-left: 70px;
  margin-right:35px;
}

.right-section {
background-color: blueviolet;
width:200px;

}